body{
  background: rgb(4,4,4);
  color: white;
  margin: 0;
  padding: 0;
}
ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}
/*-----------------------nav---------------------------*/
#LAreaList{
  width: 100%;
  height: 60px;
  margin: auto;
  background: rgb(50,50,50);
}
#LAreaList .area, #LAreaList .course{
  cursor: pointer;
}
#LAreaList .LALitems{
  width: 924px;
  height: 60px;
  margin-left: calc(50% - 462px);
  position: relative;
}
#LAreaList .LALitem{
  margin: 0px 5px;
  position: relative;
  float: left;
}
#LAreaList .area{
  font-size: 2em;
  height: 60px;
  padding: 10px 30px 0px 30px;
}
#LAreaList .course{
  padding-left: 30px;
}
#LAreaList .LALitem:hover .area{
  background: rgb(100,100,100);
}
.LALitem ul{
  background: rgb(50,50,50);
  display: none;
  z-index: 100;
}
.LALitem ul li{
  line-height: 2em;
}
.LALitem ul li:hover{
  background: white;
  color: black;
}
#LAreaList .transition-falldown{
  position: absolute;
  width: 100%;
  height: auto;
  display: block;
  transition: 1s height;
}

#LAreaList .leftarrow{
  width: 0;
  height:0;
  position: absolute;
  top: 15px;
  left: -30px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 20px solid yellow;
  display: none;
  cursor: pointer;
}
#LAreaList:hover .leftarrow{
  display: block;
}
#LAreaList .rightarrow{
  width: 0;
  height:0;
  position: absolute;
  top: 15px;
  right: -30px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 20px solid yellow;
  display: none;
  cursor: pointer;
}
#LAreaList:hover .rightarrow{
  display: block;
}

/*----------------------------content----------------------------*/
#content{
  width: 1000px;
  margin: auto;
}
#content > div{
  float: left;
}
/*-----------------------------languages---------------------------------/*/
#languages{
  width: 100px;
  height: calc (100% - 130px);
  position: fixed;
  line-height: 3em;
}
#languages li {
  border-bottom: 1px solid #444;
}
#languages li:hover{
  color: blue;
  cursor: pointer;
  border-bottom: 1px solid blue;
}
/*------------------------------courseList---------------------------*/
#courseList{
  width: 800px;
  margin-left: 100px;
  border-right: solid 1px rgba(255, 255, 255, 0.2);
  padding-bottom: 50px;
  padding-left: 20px;
}
#courseList div:first-child{
  font-size: 3em;
  line-height: 2em;
  text-indent: 1em;
}
#courseList .forms{
  width: 210px;
  text-align: center;
  height: 100px;
  font-size: 14px;
  font-family: cursive;
  background: rgb(53, 55, 56);
  color: white;
  float: left;
  word-break: break-all;
  margin: 20px 20px;
  padding: 40px 10px;
  border-left: 5px solid white;
  border-right: 5px solid white;
}
#courseList .forms:hover{
  background: rgb(30, 31, 32);
  cursor:pointer;
}
/*------------------------------lower right-----------------------*/
#lowerRight{
  padding: 20px;
  line-height: 2em;
  position: fixed;
  margin-left: 900px;
}
#lowerRight li:hover{
  cursor: pointer;
}
a.link{
  color: white;
}
a.link:focus, a.link:hover{
  color: blue;
  text-decoration: underline;
}
a.forms:hover{
  text-decoration: none;
}