.container{
  background: rgb(4,4,4);
  width: 100%;
  height: auto;
  min-height: 468px;
  padding: 100px 0px;
  color: white;
  position: relative;
}
.content{
  width: 1000px;
  margin: auto;
  position: relative;
}
.btn{
  width: 320px;
  margin: auto;
  display: block;
  padding: 15px 20px;
  margin-top: 30px;
  font-size: 20px;
  background: #7eb530;
  color: #fff;
  border-color: #7eb530;
  border-radius: 40px;
}
.btn:hover{
  background: #94c500;
  border-color: #94c500;
  color: #fff;
}
.part{
  display: none;
  position: absolute;
  width: 100%;
}
.part:first-child{
  display: block;
}
.language {
  line-height: 48px;
  font-size: 18px;
  text-align: center;
}
.myselect{    
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  height: 30px;
  width: 180px;
}
.selected{
  padding: 4px 10px;
  color: white;
  text-align: center;
  line-height: 18px;
  border-radius: 20px;
  border: 2px solid white;
  height: 100%;
  width: 100%;
}
.options{
  position: relative;
  overflow: hidden;
  display: none;
  z-index: 2;
}
.option{
  background: #363636;
  text-align: center;
  margin: 0 5px;
  border-bottom: 2px solid white;
  line-height: 30px;
  cursor: context-menu;
}
#learn {
  position: absolute;
  right: 340px;
  top: 150px;
  z-index: 0;
}






