body{
  background: rgb(4,4,4);
}
a{
  color: inherit;
}
a:hover{
  text-decoration: none;
  color: inherit;
}
.container{
  background: rgb(4,4,4);
  width: 100%;
  height: auto;
  min-height: 468px;
  padding: 80px 0px;
  color: white;
  position: relative;
}
.content{
  margin: auto;
  background: rgb(4,4,4);
  width: 1000px;
  height: auto;
  min-height: 468px;
  position: relative;
}
#left{
  width: 150px;
  float: left;
  text-align: center;
  font-size: 16px;
  line-height: 32px;
}
#right{
  margin-left: 170px;
  width: 830px;
  text-align: left;
}


/*--------------- left --------------------------------------*/
.leftli{
  border-bottom: solid 1px gray;
  padding-top: 5px;
}
.leftli.learned:hover{
  background-color: #909090;
  text-decoration: underline;
}
.leftli.learned{
  background-color: rgb(80,80,80);
  cursor: pointer;
}
.leftli.active{
  background-color: #909090;
  text-decoration: underline;
}
.leftli.tolearn{
  background-color: rgb(30,30,30);
  cursor: context-menu;
}

/*----------- right -----------------------------------*/
.right{
  text-align: left;
  display: none;
  width: 100%;
}
.right.active{
  display: block;
}
.rightli{
  display: inline-block;
  border-left: solid 5px white;
  border-right: solid 5px white;
  width: 240px;
  margin-left: 30px;
  text-align: center;
  margin-bottom: 30px;
  line-height: 20px;
  padding: 24px 0px;
  font-size: 14px;
  cursor: pointer;
}
.rightli.learned{
  background: #696969;
}
.rightli.tolearn{
  background: #303030;
  cursor: context-menu;
}
.rightli.learned:hover{
  background-color: #909090
}
.rightli.learned.active{
  background-color: #909090;
  font-weight: bold;
}






