.content{
  background: rgb(4,4,4);
  width: 100%;
  height: auto;
  padding: 100px 0px;
}
.register{
  width: 500px;
  height: 550px;
  border: solid 7px rgb(42,42,42);
  border-radius: 5px;
  background-color: rgb(238,238,238);
  color: rgb(175,175,175);
  margin: 0px calc(50% - 250px);
  padding: 30px;
}
.top{
  font-size: 33px;
  text-align: center;
  font-family: cursive;
  margin-bottom: 20px;
}
.info{
  border-top: solid 1px rgb(200,200,200);
  padding-top: 10px;
}
.tips{
  line-height: 38px;
}
.btn{
  margin-left: 40%;
  width: 90px;
  height: 40px;
  margin-top: 20px;
}
.login{
  float: right;
}
.message {
  color: red;
  text-align: center;
  margin-top: 10px;
  display: none;
}