extend head

block content

  link(rel='stylesheet', href='./styles/about.css')
  .container
    .content
      .content_head About Us
      .part
        .part_head Brief description of the inspiration and content.
        .part_content Brief description of the inspiration and content....Brief description of the inspiration and content....Brief description of the inspiration and content....Brief description of the inspiration and content....Brief description of the inspiration and content....Brief description of the inspiration and content....Brief description of the inspiration and content....
      .part
        .part_head Copyrights
        .part_content Copyrights...Copyrights...Copyrights...Copyrights...Copyrights...Copyrights...Copyrights...Copyrights...Copyrights...Copyrights...Copyrights...Copyrights...Copyrights...Copyrights...Copyrights...Copyrights...Copyrights...Copyrights...
      .part
        .part_head Coding
        .part_content Coding...Coding...Coding...Coding...Coding...Coding...Coding...Coding...Coding...Coding...Coding...Coding...Coding...Coding...Coding...Coding...Coding...Coding...Coding...Coding...Coding...Coding...Coding...Coding...Coding...
      .part
        .part_head Lectors
        .part_content Lectors...Lectors...Lectors...Lectors...Lectors...Lectors...Lectors...Lectors...Lectors...Lectors...Lectors...Lectors...Lectors...Lectors...Lectors...Lectors...Lectors...Lectors...Lectors...Lectors...Lectors...Lectors...Lectors...Lectors...Lectors...Lectors...Lectors...Lectors...Lectors...Lectors...Lectors...Lectors...Lectors...Lectors...Lectors...
      .part
        .part_head Graphic design
        .part_content Graphic design...Graphic design...Graphic design...Graphic design...Graphic design...Graphic design...Graphic design...Graphic design...Graphic design...Graphic design...Graphic design...Graphic design...Graphic design...Graphic design...Graphic design...Graphic design...Graphic design...Graphic design...Graphic design...Graphic design...Graphic design...Graphic design...
      .functions
        a(href='/') Main Menu
        a(href='/quit') Quit
  script(type='text/javascript'). 
    window.onload = function(){
      document.querySelector('.container').style.minHeight = window.innerHeight - 175 + 'px';
    }