extend head

block content

  link(rel='stylesheet', href='./styles/index.css')
  div.content
    div#LAreaList
      div.LALitems
        div.leftarrow
        div.LALitem
          div.area English
          ul
            li.course American English
            li.course British English
            li.course Australian English
        div.LALitem
          div.area Chinese
          ul
            li.course Beginner Chinese
            li.course Traveller Chinese
            li.course Business Chinese
        div.LALitem
          div.area Languages of East Africa
          ul
            li.course Swahili
            li.course Some-other-language
        div.rightarrow

    //- 
    div#content
      div#languages
        ul
          li.langauage English
          li.langauage 中文
          li.langauage Polski
      div#courseList
        div Choose your course form!
        ul
          li.forms STARTUP
          a.forms(href = 'about')
            li ABOUT
          a.forms(href = 'methodology')
            li METHODOLOGY
          a.forms(href = 'letslearn')
            li LETSLEARN
          a.forms(href = 'progressmap')
            li PROGRESSMAP
          li.forms INTERACTIVE
          a.forms(href = 'narrative')
            li NARRATIVE
          //- li.forms GAME
          a.forms(href = 'a_given_b_blank')
            li A_GIVEN_B_BLANK
          a.forms(href = 'A_GIVEN_B_CLOZE')
            li A_GIVEN_B_CLOZE
          a.forms(href='a_cloze_b_given')
            li A_CLOZE_B_GIVEN
          a.forms(href='unscramble')
            li UNSCRAMBLE
          a.forms(href='letter_number_match')
            li LETTER_NUMBER_MATCH
          a.forms(href='multiple_choice')
            li MULTIPLECHOICE
          a.forms(href='matchupclick')
            li MATCHUPCLICK
        </ul>

      div#lowerRight
        ul
          li.lr 
            a(class="link" href='/about') About Augenblick
          li.lr 
            a(class="link" href='/methodology') Methodology
          li.lr 
            a(class="link" href='/login') Log in
          //- li.lr 
          //-   a(class="link" href='/offer') Our Offer
          li.lr 
            a(class="link" href='/contact') Contact us
          li.lr 
            a(class="link" href='/quit') Quit

  script(type='text/javascript'). 
    window.onload = function(){
      document.querySelector('.container').style.minHeight = window.innerHeight - 175 + 'px';
    }
  script(type="application/javascript", src="scripts/jquery-2.1.4.min.js")
  script(type="text/javascript" src="./scripts/index.js")