            .selected
extend head

block content

  link(rel='stylesheet', href='./styles/letslearn.css')
  link(rel='stylesheet', href='./plugins/hongselect/hongselect.min.css')
  .container
    .content
      .part
        .btn.start Start
      .part
        .language 
          span I can speak
          #myselect1.myselect
            .selected
            .options
              .option(value='0') English
              .option(value='1') Chinese
              .option(value='2') Frenche
              .option(value='3') Japanese
          br
          span I want to learn
          #myselect2.myselect
            .selected
            .options
              .option(value='1') Chinese
              .option(value='0') English
              .option(value='2') French
              .option(value='3') Japanese
          br
          span I am
          #myselect3.myselect
            .selected
            .options
              .option(value='0') male
              .option(value='1') female
        #learn.btn 开始学习


  script(type="text/javascript", src="scripts/jquery-2.1.4.min.js")
  script(type="text/javascript", src="plugins/hongselect/hongselect.min.js")  
  script(type="text/javascript", src="scripts/letslearn.js")
  script(type='text/javascript'). 
    window.onload = function(){
      document.querySelector('.container').style.minHeight = window.innerHeight - 175 + 'px';
    }

