extend head

block content

  link(rel='stylesheet', href='./styles/methodology.css')
  .container
    .content
      .content_head METHODOLOGY
      .part
        .part_content 
      .btns
        .btn.previous Previous 
        .btn.next Next 
      .functions
        a(href='/') Main Menu
        a(href='/quit') Quit
        
    script(type='text/javascript'). 
      document.querySelector('.container').style.minHeight = window.innerHeight - 175 + 'px';
      document.querySelector('.part').style.maxHeight = window.innerHeight - 345 + 'px';  
  script(type="application/javascript", src="scripts/jquery-2.1.4.min.js")
  script(type="text/javascript" src="./scripts/methodology.js")