extend head

block content

  link(rel='stylesheet', href='./styles/narrative.css')
  .container  
    .content
      .part.active
        .num 1
        .qeustions
          .question 
            <label> <input type='checkbox'>The man is <span>under</span> the car </label>
              
          .question <label> <input type='checkbox'>The man is <span>on</span> the car</label>
          .question <label> <input type='checkbox'>The man is <span>in</span> the car</label>
        .pictures
          img.picture(src='imgs/narrative1.jpg')
      .part
        .num 2
        .qeustions
          .question 
            <label> <input type='checkbox'>The man is <span>under</span> the car </label>
              
          .question <label> <input type='checkbox'>The man is <span>on</span> the car</label>
          .question <label> <input type='checkbox'>The man is <span>in</span> the car</label>
        .pictures
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
      .part
        .num 3
        .qeustions
          .question 
            <label> <input type='checkbox'>The man is <span>under</span> the car </label>
              
          .question <label> <input type='checkbox'>The man is <span>on</span> the car</label>
          .question <label> <input type='checkbox'>The man is <span>in</span> the car</label>
        .pictures
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
      .part
        .num 4
        .qeustions
          .question 
            <label> <input type='checkbox'>The man is <span>under</span> the car </label>
              
          .question <label> <input type='checkbox'>The man is <span>on</span> the car</label>
          .question <label> <input type='checkbox'>The man is <span>in</span> the car</label>
        .pictures
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
      .part
        .num 5
        .qeustions
          .question 
            <label> <input type='checkbox'>The man is <span>under</span> the car </label>
              
          .question <label> <input type='checkbox'>The man is <span>on</span> the car</label>
          .question <label> <input type='checkbox'>The man is <span>in</span> the car</label>
        .pictures
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
      .part
        .num 6
        .qeustions
          .question 
            <label> <input type='checkbox'>The man is <span>under</span> the car </label>
              
          .question <label> <input type='checkbox'>The man is <span>on</span> the car</label>
          .question <label> <input type='checkbox'>The man is <span>in</span> the car</label>
        .pictures
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
      .part
        .num 7
        .qeustions
          .question 
            <label> <input type='checkbox'>The man is <span>under</span> the car </label>
              
          .question <label> <input type='checkbox'>The man is <span>on</span> the car</label>
          .question <label> <input type='checkbox'>The man is <span>in</span> the car</label>
        .pictures
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
      .part
        .num 8
        .qeustions
          .question 
            <label> <input type='checkbox'>The man is <span>under</span> the car </label>
              
          .question <label> <input type='checkbox'>The man is <span>on</span> the car</label>
          .question <label> <input type='checkbox'>The man is <span>in</span> the car</label>
        .pictures
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
      .part
        .num 9
        .qeustions
          .question 
            <label> <input type='checkbox'>The man is <span>under</span> the car </label>
              
          .question <label> <input type='checkbox'>The man is <span>on</span> the car</label>
          .question <label> <input type='checkbox'>The man is <span>in</span> the car</label>
        .pictures
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
      .part
        .num 10
        .qeustions
          .question 
            <label> <input type='checkbox'>The man is <span>under</span> the car </label>
              
          .question <label> <input type='checkbox'>The man is <span>on</span> the car</label>
          .question <label> <input type='checkbox'>The man is <span>in</span> the car</label>
        .pictures
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
          img.picture(src='imgs/narrative1.jpg')
      .btns
        #previous.btn Previous
        #next.btn.btn_right Next
      .myprogress
        span.toLearn  Items to learn : <span>10</span>
        span.learned  Items learned : <span>1</span>

  script(type="application/javascript", src="scripts/jquery-2.1.4.min.js")
  //- script(type="application/javascript", src="scripts/plugin/soundmanager2-jsmin.js")
  script(type="application/javascript", src="scripts/narrative.js")