doctype html
html
  head
    meta(charset="utf-8" )
    title #{title}
    link(rel='stylesheet', href='./styles/narrative.css')
  body
  .container  
    .content
      - if(!lists)
        .alert There's not questions designed yet!
      - else
        - each item in lists
          .part
            .num #{item.question}
            .qeustions
              .question 
                <label> <input type='checkbox'>The man is <span>under</span> the car </label>
                  
              .question <label> <input type='checkbox'>The man is <span>on</span> the car</label>
              .question <label> <input type='checkbox'>The man is <span>in</span> the car</label>
            .pictures
              img.picture(src='imgs/narrative1.jpg')
          .part
            .num 2
            .qeustions
              .question 
                <label> <input type='checkbox'>The man is <span>under</span> the car </label>
                  
              .question <label> <input type='checkbox'>The man is <span>on</span> the car</label>
              .question <label> <input type='checkbox'>The man is <span>in</span> the car</label>
            .pictures
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
          .part
            .num 3
            .qeustions
              .question 
                <label> <input type='checkbox'>The man is <span>under</span> the car </label>
                  
              .question <label> <input type='checkbox'>The man is <span>on</span> the car</label>
              .question <label> <input type='checkbox'>The man is <span>in</span> the car</label>
            .pictures
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
          .part
            .num 4
            .qeustions
              .question 
                <label> <input type='checkbox'>The man is <span>under</span> the car </label>
                  
              .question <label> <input type='checkbox'>The man is <span>on</span> the car</label>
              .question <label> <input type='checkbox'>The man is <span>in</span> the car</label>
            .pictures
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
          .part
            .num 5
            .qeustions
              .question 
                <label> <input type='checkbox'>The man is <span>under</span> the car </label>
                  
              .question <label> <input type='checkbox'>The man is <span>on</span> the car</label>
              .question <label> <input type='checkbox'>The man is <span>in</span> the car</label>
            .pictures
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
          .part
            .num 6
            .qeustions
              .question 
                <label> <input type='checkbox'>The man is <span>under</span> the car </label>
                  
              .question <label> <input type='checkbox'>The man is <span>on</span> the car</label>
              .question <label> <input type='checkbox'>The man is <span>in</span> the car</label>
            .pictures
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
          .part
            .num 7
            .qeustions
              .question 
                <label> <input type='checkbox'>The man is <span>under</span> the car </label>
                  
              .question <label> <input type='checkbox'>The man is <span>on</span> the car</label>
              .question <label> <input type='checkbox'>The man is <span>in</span> the car</label>
            .pictures
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
          .part
            .num 8
            .qeustions
              .question 
                <label> <input type='checkbox'>The man is <span>under</span> the car </label>
                  
              .question <label> <input type='checkbox'>The man is <span>on</span> the car</label>
              .question <label> <input type='checkbox'>The man is <span>in</span> the car</label>
            .pictures
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
          .part
            .num 9
            .qeustions
              .question 
                <label> <input type='checkbox'>The man is <span>under</span> the car </label>
                  
              .question <label> <input type='checkbox'>The man is <span>on</span> the car</label>
              .question <label> <input type='checkbox'>The man is <span>in</span> the car</label>
            .pictures
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
          .part
            .num 10
            .qeustions
              .question 
                <label> <input type='checkbox'>The man is <span>under</span> the car </label>
                  
              .question <label> <input type='checkbox'>The man is <span>on</span> the car</label>
              .question <label> <input type='checkbox'>The man is <span>in</span> the car</label>
            .pictures
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
              img.picture(src='imgs/narrative1.jpg')
        .btns
            #previous.btn Previous
            #next.btn.btn_right Next
        .myprogress
          -each item in lists
            .learn0 
          
  script(type="application/javascript", src="scripts/jquery-2.1.4.min.js")
  //- script(type="application/javascript", src="scripts/plugin/soundmanager2-jsmin.js")
  script(type="application/javascript", src="scripts/narrative.js")