extend head

block content

  link(rel='stylesheet', href='./styles/register.css')
  div.content
    form.register(action="/register",method="post")
      div.top
        div Register
      div.form
        div.info
          div.tips Enter Your personal info
          input(type="email" class="form-control" required="required" name='email' placeholder='E-mail')
          br
          input(type="text" class="form-control" required="required" name="phone" placeholder="Phone Number")
          br
        div.info
          div.tips Enter your account infomation
          input(type="text" class="form-control" required="required" name='username' placeholder='User name')
          br
          input(type="password" class="form-control" required="required" name="password" placeholder="password")
          br
        div.forget 
          a(href='/') Back to Main Page?
        input(type="submit" class='btn btn-primary' value="Sign In")

